.imggg
{
  background-image: url("https://thumbs.gfycat.com/PaleCookedCopperhead-size_restricted.gif");
  background-repeat: no-repeat;
  height: 900px;
  background-size: 600px 600px;
  background-position: right top;

}
