<body  class="imggg" style="height: 800px;">
  <div style="height: 50px;"></div>
<div class="container">
  <h1 class="text-center"></h1>
  <div>
    <h1 class="text-center">Welcome to Airline Statics     <img  src="https://img.icons8.com/external-xnimrodx-blue-xnimrodx/45/null/external-dashboard-marketing-xnimrodx-blue-xnimrodx.png"/>
    </h1>
  </div>
  <div style="height: 23px;"></div>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="card-body">
          <div >
            <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/null/external-passenger-gamification-flaticons-lineal-color-flat-icons.png"/>
          </div><br>
          <div>
            <b> Total Passengers</b> <br>
            {{countPassenger}}
          </div>

          <b></b>

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood">
            <img src="https://img.icons8.com/fluency/64/null/airplane-take-off.png"/>
            <br>
          </div><br>
          <div>
            <b> Total Flights</b>
            <br>
            {{countFlight}}
          </div>
          <b></b>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood">
            <img src="https://img.icons8.com/color/64/null/united-airlines.png"/>          </div>

          <div>
            <br><b>Total Airlines</b>
          </div>
          {{countAirline}}
          <b></b>

        </div>
      </div>
    </div>
  </div>
</div>

</body>
